---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-lstmapps-wuyong7240-com-v1-lstmpredictapp
  failurePolicy: Fail
  name: mlstmpredictapp-v1.kb.io
  rules:
  - apiGroups:
    - lstmapps.wuyong7240.com
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - lstmpredictapps
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-lstmapps-wuyong7240-com-v1-lstmpredictapp
  failurePolicy: Fail
  name: vlstmpredictapp-v1.kb.io
  rules:
  - apiGroups:
    - lstmapps.wuyong7240.com
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - lstmpredictapps
  sideEffects: None
