---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - services/status
  verbs:
  - get
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - deployments/status
  verbs:
  - get
- apiGroups:
  - lstmapps.wuyong7240.com
  resources:
  - lstmpredictapps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - lstmapps.wuyong7240.com
  resources:
  - lstmpredictapps/finalizers
  verbs:
  - update
- apiGroups:
  - lstmapps.wuyong7240.com
  resources:
  - lstmpredictapps/status
  verbs:
  - get
  - patch
  - update
